<div class="container">
	<div class="form-container">
		<mat-card class="form">
			<h1 class="mat-headline">Register</h1>
			<mat-card-content>
				<form [formGroup]="form">
					<mat-form-field class="full-width" appearance="outline">
						<mat-label>Email</mat-label>
						<input formControlName="email" matInput type="email" placeholder="john123@email.com"
							[required]="true" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
					</mat-form-field>
					<mat-form-field class="full-width" appearance="outline">
						<mat-label>Username</mat-label>
						<input formControlName="username" matInput type="text" placeholder="john123" [required]="true"
							[ngClass]="{ 'is-invalid': submitted && f.email.errors }">
					</mat-form-field>
					<mat-form-field class="full-width" appearance="outline">
						<mat-label>Organization</mat-label>
						<mat-select formControlName='organization' name="Organization">
							<mat-option *ngFor="let org of organizations" [value]="org.id">
								{{org.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="full-width" appearance="outline">
						<mat-label>Password</mat-label>
						<input id="password" type="password" formControlName="password" (input)="onPasswordInput()" matInput
							[required]="true" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
						<mat-icon matSuffix style="cursor: pointer;" (click)="togglePasswordVisibility('password')">
							visibility</mat-icon>
					</mat-form-field>
					<mat-form-field class="full-width" appearance="outline">
						<mat-label>Confirm Password</mat-label>
						<input id="password2" type="password" formControlName="password2" (input)="onPasswordInput()"
							matInput [required]="true" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
						<mat-icon matSuffix style="cursor: pointer;" (click)="togglePasswordVisibility('password2')">
							visibility</mat-icon>
						<mat-error *ngIf="password2.hasError('required')">
							Please confirm your password
						</mat-error>
						<mat-error *ngIf="password2.invalid && !password2.hasError('required')">
							Passwords don't match
						</mat-error>
					</mat-form-field>
				</form>
			</mat-card-content>
			<div class="footer">
				<button mat-stroked-button (click)="login()">Login</button>
				<button mat-flat-button color='primary' [disabled]="!isFormValid() || loading" (click)="register()">
					<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
					Register
				</button>
			</div>
		</mat-card>
	</div>
</div>