<mat-menu #menu="matMenu" xPosition="after">
	<button mat-menu-item (click)="logout()">
		<span>Logout</span>
	</button>
</mat-menu>

<!--Ledarrious-->
<div class="page-wrapper">
	<!-- <div class="side-bar-nav">
		<div class="side-bar-widget">
			<div class="side-bar-widget-action">
				<mat-icon class="action-icon">home</mat-icon>
				<span class="action-content" (click)="changePageState('Active')">Active Documents</span>
			</div>
			<div class="side-bar-widget-action">
				<mat-icon class="action-icon">description</mat-icon>
				<span class="action-content" (click)="changePageState('Draft')">Drafts Documents</span>
			</div>
			<div class="side-bar-widget-action">
				<mat-icon class="action-icon">home</mat-icon>
				<span class="action-content" (click)="changePageState('Archive')">Archived Documents</span>
			</div>
		</div>

		<div class="side-bar-widget">
			<div class="side-bar-widget-action">
				<mat-icon class="action-icon">home</mat-icon>
				<span class="action-content">Create Document</span>
			</div>
			<div class="side-bar-widget-action">
				<mat-icon class="action-icon">home</mat-icon>
				<span class="action-content">Other Action</span>
			</div>
			<div class="side-bar-widget-action">
				<mat-icon class="action-icon">home</mat-icon>
				<span class="action-content">Other Action</span>
			</div>
		</div>

	</div> -->
	<div class="nav-bar">
		<div class="product-title-wrapper">
			<div class="product-title">Settlement Done Easy</div>
		</div>

		<!-- <div class="nav-actions">
			<div class="action-item">Logout</div>
			<div class="action-item">Logout</div>
		</div> -->
		<div class="user-info-wrapper">
			<div class="user-info" [matMenuTriggerFor]="menu">
				<div class="user-icon"></div>
				<div class="user-info-content">
					<div class="user-info-name">{{this.appData.getUser().username}}</div>
					<div class="user-info-org">{{this.appData.getUser().organization.name}}</div>
				</div>
				<div class="icon-wrapper">
					<mat-icon class="icon">arrow_drop_down</mat-icon>
				</div>
			</div>
		</div>
	</div>



	<div *ngIf="this.selectedDocuments.length == 0" class="content-wrapper">

		<div class="side-bar-nav">
			<div class="side-bar-widget">
				<div class="side-bar-widget-action">
					<mat-icon class="action-icon">home</mat-icon>
					<span class="action-content" (click)="changePageState('Active')">Active Documents</span>
				</div>
				<div class="side-bar-widget-action">
					<mat-icon class="action-icon">description</mat-icon>
					<span class="action-content" (click)="changePageState('Draft')">Drafts Documents</span>
				</div>
				<div class="side-bar-widget-action">
					<mat-icon class="action-icon">home</mat-icon>
					<span class="action-content" (click)="changePageState('Archive')">Archived Documents</span>
				</div>
			</div>

			<div class="side-bar-widget grid">
				<div class="side-bar-widget-action" (click)="createDocument()">
					<mat-icon class="action-icon">add</mat-icon>
					<span class="action-content">New</span>
				</div>
				<div class="side-bar-widget-action">
					<mat-icon class="action-icon">description</mat-icon>
					<span class="action-content" (click)="changePageState('Draft')">Option #1</span>
				</div>
				<div class="side-bar-widget-action">
					<mat-icon class="action-icon">home</mat-icon>
					<span class="action-content" (click)="changePageState('Archive')">Option #2</span>
				</div>
			</div>
		</div>


		<div class="content">
			<div class="document-grid">
				<document-card *ngFor="let x of visibleDocuments" (click)="selectDocument(x)" [Document]="x"></document-card>
			</div>
			<!-- <document-grid [title]="this.pageState"></document-grid> -->
		</div>
	</div>

	<div *ngIf="this.selectedDocuments.length == 1" class="content-wrapper">

		<div class="side-bar-nav">
			<div class="side-bar-widget">
				<div class="side-bar-widget-action" (click)="this.clearDocumentSelection()">
					<mat-icon class="action-icon">arrow_back</mat-icon>
					<span class="action-content">Back</span>
				</div>
			</div>

			<div class="side-bar-widget grid">
				<div #edit_action class="side-bar-widget-action"
					(click)="document_view.state = 'edit'; save_action.hidden = false; edit_action.hidden=true">
					<mat-icon class="action-icon">edit</mat-icon>
					<span class="action-content">Edit</span>
				</div>
				<div [hidden]="true" #save_action class="side-bar-widget-action"
					(click)="document_view.state = 'view'; edit_action.hidden = false; save_action.hidden = true; this.saveDocument()">
					<mat-icon class="action-icon">save</mat-icon>
					<span class="action-content">Save</span>
				</div>
				<div *ngIf="!edit_action.hidden" class="side-bar-widget-action" (click)="a">
					<mat-icon class="action-icon">delete</mat-icon>
					<span class="action-content">Delete</span>
				</div>
				<div *ngIf="!edit_action.hidden" class="side-bar-widget-action" (click)="a">
					<mat-icon class="action-icon">file_download</mat-icon>
					<span class="action-content">Download</span>
				</div>
			</div>
		</div>


		<div class="content">
			<document-view #document_view [document]="this.selectedDocuments[0]"></document-view>
			<!-- <document-grid [title]="this.pageState"></document-grid> -->
		</div>
	</div>
</div>