<!--Ledarrious-->
<div class="page-wrapper">
	<!-- <div class="side-bar-nav">
		<div class="side-bar-widget">
			<div class="side-bar-widget-action">
				<mat-icon class="action-icon">home</mat-icon>
				<span class="action-content" (click)="changePageState('Active')">Active Documents</span>
			</div>
			<div class="side-bar-widget-action">
				<mat-icon class="action-icon">description</mat-icon>
				<span class="action-content" (click)="changePageState('Draft')">Drafts Documents</span>
			</div>
			<div class="side-bar-widget-action">
				<mat-icon class="action-icon">home</mat-icon>
				<span class="action-content" (click)="changePageState('Archive')">Archived Documents</span>
			</div>
		</div>

		<div class="side-bar-widget">
			<div class="side-bar-widget-action">
				<mat-icon class="action-icon">home</mat-icon>
				<span class="action-content">Create Document</span>
			</div>
			<div class="side-bar-widget-action">
				<mat-icon class="action-icon">home</mat-icon>
				<span class="action-content">Other Action</span>
			</div>
			<div class="side-bar-widget-action">
				<mat-icon class="action-icon">home</mat-icon>
				<span class="action-content">Other Action</span>
			</div>
		</div>

	</div> -->
	<div class="nav-bar">
		t
	</div>
	<div class="content-wrapper">

		<div class="content">
			<document-grid [title]="this.pageState"></document-grid>
		</div>
	</div>
</div>