:host /deep/ {
	flex: 1;
	display: flex;
}

.view-wrapper {
	display: flex;
	flex-direction: row;
	flex: 1;

	gap: 15px;
}

pdf-viewer {
	display: block;
	flex: 1;
	position: relative;
}

.pdf-wrapper {
	display: flex;
	flex: 1;
	flex-basis: 65%;
	border-radius: 8px;
	overflow: clip;
}

.info-card-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	flex-basis: 35%;
}

.info-card {
	
	background-color: var(--white-900);
	box-shadow: var(--drop-shadow-2);
	border-radius: 8px;
	padding: 15px;
}
